*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    /* background-color: aqua; */
    font-family: monospace;
    font-size: 16px;
    /* background-color: aquamarine; */
}

.container {
    padding: 10px 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.lb {
    width: 95%;
    height: 5px;
    background-color: aquamarine;
    margin: 5px auto;
    display: block;
}

h2 {
    font-size: 26px;
    margin: 10px 0;
}

h3 {
    font-style: italic;
}