*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: aqua; */
    font-family: monospace;
}

.container {
    padding: 10px 20px;
}

h1 {
    text-align: center;
}

.red {
    color: red;
}

.blue {
    color: blue;
}